.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.flex-row {
  display: flex;
  flex-flow: row;
}
.flex-column {
  display: flex;
  flex-flow: column;
}

#list-views {
  display: flex;
  flex-flow: row;
}
#search-bar {
  color: black;
  height: 10vh;
  width: 100vw;
  background-color: aquamarine;
}
.fave-button {
  font-size: large;
}
.list {
  width: 50vw;
}
.drink-list-item {
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 35vw;
  max-height: 10vh;
  margin: 1vh 3vw;
  padding: 0vh 2vh 0vh 2vh;
  background-color: burlywood;
  border-radius: 1vh;
}

.drink-list-item img {
  height: 10vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
